<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= webpackConfig.metadata.title %>">

  <script type="text/javascript" src="./assets/jsqrcode/grid.js"></script>
  <script type="text/javascript" src="./assets/jsqrcode/version.js"></script>
  <script type="text/javascript" src="./assets/jsqrcode/detector.js"></script>
  <script type="text/javascript" src="./assets/jsqrcode/formatinf.js"></script>
  <script type="text/javascript" src="./assets/jsqrcode/errorlevel.js"></script>
  <script type="text/javascript" src="./assets/jsqrcode/bitmat.js"></script>
  <script type="text/javascript" src="./assets/jsqrcode/datablock.js"></script>
  <script type="text/javascript" src="./assets/jsqrcode/bmparser.js"></script>
  <script type="text/javascript" src="./assets/jsqrcode/datamask.js"></script>
  <script type="text/javascript" src="./assets/jsqrcode/rsdecoder.js"></script>
  <script type="text/javascript" src="./assets/jsqrcode/gf256poly.js"></script>
  <script type="text/javascript" src="./assets/jsqrcode/gf256.js"></script>
  <script type="text/javascript" src="./assets/jsqrcode/decoder.js"></script>
  <script type="text/javascript" src="./assets/jsqrcode/qrcode.js"></script>
  <script type="text/javascript" src="./assets/jsqrcode/findpat.js"></script>
  <script type="text/javascript" src="./assets/jsqrcode/alignpat.js"></script>
  <script type="text/javascript" src="./assets/jsqrcode/databr.js"></script>

</head>

<body>

  <app>
    Loading...
  </app>


  <% if (webpackConfig.metadata.isDevServer) { %>
  <script src="/webpack-dev-server.js"></script>
  <% } %>


</body>
</html>
