/*styles for home content only*/
.start-button{
  display:flex;
  margin-top:30px;
  padding-left:30px;
  padding-right:30px;
  padding-top:15px;
  padding-bottom:15px;
  border-radius:3px;
  border-color: white;
  border:none;
  background-color: #4CAF50;
  font-size: 12pt;
  color: white;
}
.start-button:hover{
  background-color: #7cc961;
}
.start-button:active{
  background-color: #4CAF50;
}

.shuffle-button {
  display:flex;
  margin-top:30px;
  padding-left:30px;
  padding-right:30px;
  padding-top:15px;
  padding-bottom:15px;
  border-radius:3px;
  border-color: white;
  border:none;
  background-color: #cad54c;
  font-size: 12pt;
  color: white;
}
.shuffle-button:hover{
  background-color: #d0db55;
}
.shuffle-button:active{
  background-color: #cad54c;
}

.register-button{
  margin-top:30px;
  align-content:center;
  padding-left:30px;
  padding-right:30px;
  padding-top:15px;
  padding-bottom:15px;
}
.inputField{
  margin-top:30px;
  margin-bottom:10px;
  margin-left:25px;
  margin-right:25px;
  border-style: solid;
  border-width: 1px;
  padding-bottom:10px;
  padding-top:10px;
  padding-left:5px;
  padding-right:5px;
  border-radius:3px;
  border-color: darkgrey;
  text-align: center;
  font-size: 12pt;
}

.rowLayout{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.buttonLayout{
  display: flex;
  flex-direction: row;
  justify-content:center;
}
.columnLayout{
  display: flex;
  flex-direction: column;
}
.qrButton{
  margin-left:20%;
  margin-right:20%;
}
